body{
    background-image: url(../imagem/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    font-size: 16px;
    background-color: rgb(152, 212, 231);
    margin: 0px;
}

input[type="text"]:focus{
    background-color: moccasin;
    font-family: sans-serif;
}

button{
    border-radius: px;
}