body{
    background-color: rgb(185, 185, 247);
    font-family: sans-serif;
    background-image: url(../imagem/background4.png);
    background-repeat: repeat;
    font-family: sans-serif;
    text-align: center;
}

header{
    text-align: center;
}

input, button{
    font-family: sans-serif;
    font-size: 14px;
}

img{
    margin: 10px 0px;
}

.card{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 500px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#baixo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#save{
    border-radius: 5px;
}

#tabela{
    display: flex;
    justify-content: center;
    margin: 5px;
}
table{
    width: 50%;
}

table,
table th,
table td{
    text-align: center;
    background-color: rgb(185, 185, 247);
    border:1px solid;
    border-color: black;
}

#novoJogo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
#newgame{
    border-radius: 5px;
}
#canto{
    text-align: left;
}